<div class="container main-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5">
      <%= image_tag('swojeet.png', class: 'h-100 w-100') %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-7">
      <h1 class="text-center my-3">Hi there, I'm <br /><bold>Swojeet Kayastha</bold></h1>
      <p class="text-center">
        A <strong class="color-indigo">web developer</strong> and <strong class="color-green">software engineer</strong> based on <strong class="color-red">Kathmandu</strong>, <strong class="color-blue">Nepal</strong>.
      </p>
    </div>
  </div>
</div>
