<div class="container main-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5">
      <%= image_tag('swojeet.png', class: 'h-100 w-100') %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-7">
      <h1 class="text-center my-3">Hi there, I'm <br /><bold>Swojeet Kayastha</bold></h1>
      <p class="text-center">
        A <strong class="color-indigo">web developer</strong> and <strong class="color-green">software engineer</strong> based on <strong class="color-red">Kathmandu</strong>, <strong class="color-blue">Nepal</strong>.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-22 text-center">
      <h3>Feel free to reach me out on any of the social websites below</h3>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-xs-12 col-sm-12 col-md-2 text-center">
      <a href="https://www.facebook.com/SwOjEeT" class="font-2 color-black" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 text-center">
      <a href="https://www.instagram.com/swojeet_kayastha/" class="font-2 color-black" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 text-center">
      <a href="https://www.linkedin.com/in/swojeet-kayastha/" class="font-2 color-black" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 text-center">
      <a href="swojeetkayastha@gmail.com" class="font-2 color-black" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 text-center">
      <a href="https://github.com/swojeet" class="font-2 color-black" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 text-center">
      <a href="https://gitlab.com/swojeet" class="font-2 color-black" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
