<div class="container main-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5">
      <%= image_tag('swojeet.png', class: 'h-100 w-100') %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-7">
      <p>
        Hi!
      </p>
    </div>
  </div>
</div>
