body{
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-nav li a{
  color: $black !important;
}

.navbar-nav:hover{
  li a {
    color: $gray-600 !important;
  }
}

.navbar-nav li a:hover{
  color: $black !important;
}

.main-container{
	width: 80% !important;
	height: 65vh;
	margin: 0 auto;
}
