<div id="footer" class="footer py-3 mt-3">
  <div class="container">
    <div class="row nav-container px-4">
      <div class="col-xs-12 col-sm-12 col-md-3 text-center">
        <a class="nav-link" href="/">HOME</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 text-center">
        <a class="nav-link" href="#">ARTICLES</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 text-center">
        <a class="nav-link" href="#">ABOUT</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 text-center">
        <a class="nav-link" href="#">CONTACT</a>
      </div>
    </div>

    <div class="row text-center my-3">
      <div class="col-xs-12 col-sm-12 col-md-12">
        &copy;Swojeet Kayastha. <%= Date.today.year %>. All rights Reserved.
      </div>
    </div>

    <div class="row text-center my-3 footer-icons-container">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <span class="nav-container">
          <a href="https://www.facebook.com/SwOjEeT" class="" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://www.instagram.com/swojeet_kayastha/" class="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/swojeet-kayastha/" class="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="swojeetkayastha@gmail.com" class="" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://github.com/swojeet" class="" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://gitlab.com/swojeet" class="" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- <div id="footer" class="navbar navbar-expand-lg navbar-light px-3">
  <div class="nav-container mx-auto">
    <div class="collapse navbar-collapse" id="footerNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-5">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link" href="#">ARTICLES</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        &copy;Swojeet Kayastha.<%= Date.today.year %>.
      </div>
    </div>
  </div>
</div> -->
