<div id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 text-center">
        <a class="nav-link" href="/">HOME</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 text-center">
        <a class="nav-link" href="#">ARTICLES</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 text-center">
        <a class="nav-link" href="#">CONTACT</a>
      </div>
    </div>
  </div>
</div>
